.losango {
    margin: auto;
    border: 2px solid #000;
    cursor: pointer;
}

.losango:hover {
    transition: ease-in-out 0.4s all;
    transform: scale(105%);
    width: 30%;
}

.timefora:hover {
    width: 60%;
    transform: scale(105%);
    transition: ease-in-out 0.4s all;
}

.timecasa:hover {
    width: 60%;
    transform: scale(105%);
    transition: ease-in-out 0.4s all;
}