@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

body {
  background: linear-gradient(
    90deg,
    rgb(0, 26, 11) 0%,
    rgb(7, 105, 37) 0%,
    rgb(86, 228, 4) 100%
  );
}

.ball-logo {
  animation: App-logo-spin infinite 8s linear;
  transition: 0.3s ease-in-out;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ball-logo:hover {
  animation: App-logo-spin infinite 2s linear;
  color: rgb(255, 235, 52);
}
