@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

body {
  background: linear-gradient(
    90deg,
    rgb(0, 26, 11) 0%,
    rgb(7, 105, 37) 0%,
    rgb(86, 228, 4) 100%
  );
}
